.add-user-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .close {
    align-self: flex-end;
  }

  .header {
    margin: 0;
    align-self: center;
  }

  .user-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;

    .user-input-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-around;

    button {
      width: 80px;
      text-align: center;
    }
  }
}
