.user-row-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 5px;

  &.highlighted {
    .user-input-wrapper {
      input {
        background-color: #eeeeee;
      }
    }
  }

  .user-input-wrapper {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 12px;
  }
}
